body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', serif;

}

.logo {
  text-align: center;
}

.nav1 {
  display: flex;
  padding: 50px;
  margin-top: -10px;
}

.text {
  margin-top: -20px
}

.nav2 {
  margin-top: -130px;
}


.nav2 ul li {
  list-style: none;
  display: inline-grid;
  padding: 20px;
}

.nav2 ul {
    text-align: center;
}

.nav3 {
  display: flex;
  float: right;
  margin-top: -112px;
  padding: 50px;
}

.text1 {
  margin-top: -15px;
}

.header-text {
  text-align: center;
  background: url("../images/image0.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px;
  margin: 50px;
}

.imagebox {
  text-align: center;
}


.imagebox img {
  height: 150px;
  width: 150px;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

#grey-text {
  color: grey
}

.main01 {
  background: url("../images/image14.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 200px;
  margin: 50px;
  text-align: center;

}

.main01 img {
  height: 140px;
  width: 150px;
  border-radius: 200px;
  margin-top: -100px
}

.textmain2 {
  margin: 50px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.imagesrow img {
  width: 200px;
  height: 250px;
}

.imagesrow {
  text-align: center;
}

.main3 {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.mainimage1 img {
  width: 600px;
  height: 350px;
}

#orange-text {
  color: orange;
}

.input input button {
  display: flex;
  align-items: center;
}

.input-section {
  text-align: center;
  background: #F5F5F5;
  height: 250px;
  width: 933px;
  margin: 50px;
  padding: 100px;
}

.input input {
  width: 250px;
  height: 45px;

}

.input button {
  width: 150px;
  height: 51px;
  background: black;
  color: white;
  border: 1px solid black;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.footer ul li {
  list-style: none;
  padding: 5px;
}

.footer h3 {
  text-align: center;
}

hr {
  margin: 50px;
}

.footer-section2 h5 {
  margin: 50px;
}

#dark-grey {
  color: #575757;
}

.footer-section3 ul li {
  list-style: none;
  display: inline-grid;
  float: right;
  padding: 3px;
  margin: 50px;
  margin-top: -75px;
}
